name: Test

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}.${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    env:
      LETTER_LOGO_URL: ${{ secrets.LETTER_LOGO_URL }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - uses: actions/checkout@v4

      - uses: gerlero/apt-install@v1
        with:
          packages: build-essential git libcurl4-openssl-dev curl libssl-dev cmake libmagickwand-dev weasyprint ghostscript libmagic-dev libpoppler-cpp-dev poppler-utils ttf-mscorefonts-installer libpng-dev libjpeg-dev libtiff-dev imagemagick
          install-recommends: false

      - name: Install Arial font
        run: |
          mkdir -p ~/.local/share/fonts/
          cp docker/Arial.ttf ~/.local/share/fonts/
          sudo cp docker/Arial.ttf /usr/local/share/fonts/
          sudo fc-cache -f -v

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true
          cache-dependency-glob: |
            requirements_nl_test.in
            requirements_nl_test.txt

      - name: Install application requirements
        run: |
          uv pip install -r requirements_nl_test.txt

      - uses: astral-sh/ruff-action@v3

      - name: Generate version file
        run: make generate-version-file

      - name: Check for font
        run: fc-list | grep Arial

      - uses: pavelzw/pytest-action@v2
        with:
          job-summary: false
          verbose: false
          emoji: false
          custom-arguments: --junitxml=reports/pytest-unit.xml

      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: PyTest Tests
          path: reports/pytest-*.xml
          reporter: java-junit
          only-summary: true
          use-actions-summary: false
          badge-title: PYTEST
